genre로 컬럼 구성해서 장르별 positive,negative,mixed,imdifference의 평균 정보가 담긴 df 만들기

In [1]:
import pandas as pd

In [2]:
path = r"C:\Users\NT550-052\OneDrive\바탕 화면\ASAC\프로젝트\ML\web_crawling\CGW\modeling\onlyonehot\onlyonehot.csv"
data = pd.read_csv(path, sep=";")
data.drop(columns="Unnamed: 0",inplace=True)

In [3]:
data.columns

Index(['appid', '24_Hour_Peak', 'All_time_peak', 'average_forever',
       'average_2weeks', 'median_forever', 'median_2weeks', 'price',
       'initialprice', 'genre', 'num_lang', 'required_age', 'is_free',
       'controller_support', 'dlc', 'metacritic_tf', 'windows', 'mac', 'linux',
       'platforms_num', 'achievements', 'days_after_release',
       'months_after_release', 'Review', '360v', 'accounting', 'action',
       'actiongames', 'adventure', 'animation', 'audioproduction', 'casual',
       'design', 'documentary', 'earlyaccess', 'education', 'episodic',
       'freetoplay', 'gamedevelopment', 'gore', 'illustration', 'indie',
       'massivelymultiplayer', 'modeling', 'movie', 'nudity', 'photoediting',
       'racing', 'rpg', 'sexualcontent', 'short', 'simulation',
       'softwaretraining', 'sports', 'strategy', 'tutorial', 'utilities',
       'videoproduction', 'violent', 'webpublishing'],
      dtype='object')

In [4]:
data.columns[1:-37]

Index(['24_Hour_Peak', 'All_time_peak', 'average_forever', 'average_2weeks',
       'median_forever', 'median_2weeks', 'price', 'initialprice', 'genre',
       'num_lang', 'required_age', 'is_free', 'controller_support', 'dlc',
       'metacritic_tf', 'windows', 'mac', 'linux', 'platforms_num',
       'achievements', 'days_after_release', 'months_after_release'],
      dtype='object')

In [5]:
# data.drop(columns=['appid', '24_Hour_Peak', 'All_time_peak', 'average_forever',
#        'average_2weeks', 'median_forever', 'median_2weeks', 'price',
#        'initialprice', 'genre', 'num_lang', 'required_age', 'is_free',
#        'controller_support', 'dlc', 'metacritic_tf', 'windows', 'mac', 'linux',
#        'platforms_num', 'achievements', 'days_after_release'],inplace=True)

In [6]:
data

,appid,24_Hour_Peak,All_time_peak,average_forever,average_2weeks,median_forever,median_2weeks,price,initialprice,genre,...,short,simulation,softwaretraining,sports,strategy,tutorial,utilities,videoproduction,violent,webpublishing
0,294100,20930,60742,12492,1401,5368,921,34.99,34.99,"Indie, Simulation, Strategy",...,0,1,0,0,1,0,0,0,0,0
1,960090,13428,53891,4018,277,1532,62,13.99,13.99,Strategy,...,0,0,0,0,1,0,0,0,0,0
2,504230,1234,4148,1316,310,370,582,19.99,19.99,"Action, Adventure, Indie",...,0,0,0,0,0,0,0,0,0,0
3,588650,4553,14880,1841,183,868,213,14.99,24.99,"Action, Adventure, Indie",...,0,0,0,0,0,0,0,0,0,0
4,264710,4205,50876,1943,313,941,277,29.99,29.99,"Adventure, Indie",...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46247,1995280,0,0,0,0,0,0,14.99,14.99,"Adventure, Indie",...,0,0,0,0,0,0,0,0,0,0
46248,2098860,0,0,0,0,0,0,9.99,9.99,"Adventure, Casual",...,0,0,0,0,0,0,0,0,0,0
46249,2154770,814,1176,0,0,0,0,0.00,0.00,N,...,0,0,0,0,0,0,0,0,0,0
46250,1915410,0,1,0,0,0,0,2.99,2.99,"Action, Indie",...,0,0,0,0,0,0,0,0,0,0
46251,1563130,4,97,0,0,0,0,29.99,29.99,"Simulation, Strategy",...,0,1,0,0,1,0,0,0,0,0

In [7]:
data["Review"].value_counts()

Negative    26833
Positive    19419
Name: Review, dtype: int64

In [8]:
tmp = data[(data["sports"]==1) & (data["Review"]=="Positive")].iloc[:,1:-37].describe().loc["mean",:]
# tmp.loc["mean",:].to_list()
tmp

24_Hour_Peak             196.562130
All_time_peak           1615.797633
average_forever          359.067456
average_2weeks            13.265089
median_forever           296.778698
median_2weeks             13.334911
price                      9.671006
initialprice              12.837882
num_lang                   7.208284
required_age               0.053254
is_free                    0.182249
controller_support         0.306509
dlc                        1.020118
metacritic_tf              0.057988
windows                    0.992899
mac                        0.223669
linux                      0.118343
platforms_num              1.334911
achievements              29.268639
days_after_release       970.591716
months_after_release      31.867456
Name: mean, dtype: float64

In [9]:
data.columns[-36:]

Index(['360v', 'accounting', 'action', 'actiongames', 'adventure', 'animation',
       'audioproduction', 'casual', 'design', 'documentary', 'earlyaccess',
       'education', 'episodic', 'freetoplay', 'gamedevelopment', 'gore',
       'illustration', 'indie', 'massivelymultiplayer', 'modeling', 'movie',
       'nudity', 'photoediting', 'racing', 'rpg', 'sexualcontent', 'short',
       'simulation', 'softwaretraining', 'sports', 'strategy', 'tutorial',
       'utilities', 'videoproduction', 'violent', 'webpublishing'],
      dtype='object')

In [10]:
data.drop(columns=["genre","mac","linux","windows","is_free","appid"],inplace=True)

In [11]:
data

,24_Hour_Peak,All_time_peak,average_forever,average_2weeks,median_forever,median_2weeks,price,initialprice,num_lang,required_age,...,short,simulation,softwaretraining,sports,strategy,tutorial,utilities,videoproduction,violent,webpublishing
0,20930,60742,12492,1401,5368,921,34.99,34.99,35,0.0,...,0,1,0,0,1,0,0,0,0,0
1,13428,53891,4018,277,1532,62,13.99,13.99,24,0.0,...,0,0,0,0,1,0,0,0,0,0
2,1234,4148,1316,310,370,582,19.99,19.99,14,0.0,...,0,0,0,0,0,0,0,0,0,0
3,4553,14880,1841,183,868,213,14.99,24.99,21,0.0,...,0,0,0,0,0,0,0,0,0,0
4,4205,50876,1943,313,941,277,29.99,29.99,38,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46247,0,0,0,0,0,0,14.99,14.99,4,0.0,...,0,0,0,0,0,0,0,0,0,0
46248,0,0,0,0,0,0,9.99,9.99,1,0.0,...,0,0,0,0,0,0,0,0,0,0
46249,814,1176,0,0,0,0,0.00,0.00,0,0.0,...,0,0,0,0,0,0,0,0,0,0
46250,0,1,0,0,0,0,2.99,2.99,1,0.0,...,0,0,0,0,0,0,0,0,0,0
46251,4,97,0,0,0,0,29.99,29.99,16,0.0,...,0,1,0,0,1,0,0,0,0,0

In [12]:
final = pd.DataFrame(columns=['24_Hour_Peak', 'All_time_peak', 'average_forever',
       'average_2weeks', 'median_forever', 'median_2weeks', 'price',
       'initialprice', 'num_lang', 'required_age', 
       'controller_support', 'dlc', 'metacritic_tf', 
       'platforms_num', 'achievements', 'days_after_release','months_after_release'])

In [13]:
data[(data["sports"]==1) & (data["Review"]=="Positive")].iloc[:,:-37].columns

Index(['24_Hour_Peak', 'All_time_peak', 'average_forever', 'average_2weeks',
       'median_forever', 'median_2weeks', 'price', 'initialprice', 'num_lang',
       'required_age', 'controller_support', 'dlc', 'metacritic_tf',
       'platforms_num', 'achievements', 'days_after_release',
       'months_after_release'],
      dtype='object')

In [14]:
final

Empty DataFrame
Columns: [24_Hour_Peak, All_time_peak, average_forever, average_2weeks, median_forever, median_2weeks, price, initialprice, num_lang, required_age, controller_support, dlc, metacritic_tf, platforms_num, achievements, days_after_release, months_after_release]
Index: []

In [15]:
len(final.columns) == len(data[(data["sports"]==1) & (data["Review"]=="Positive")].iloc[:,:-37].columns)

True

In [16]:
data["Review"]

0        Positive
1        Positive
2        Positive
3        Positive
4        Positive
           ...
46247    Negative
46248    Negative
46249    Negative
46250    Negative
46251    Negative
Name: Review, Length: 46252, dtype: object

In [17]:
data.columns[-36:]

Index(['360v', 'accounting', 'action', 'actiongames', 'adventure', 'animation',
       'audioproduction', 'casual', 'design', 'documentary', 'earlyaccess',
       'education', 'episodic', 'freetoplay', 'gamedevelopment', 'gore',
       'illustration', 'indie', 'massivelymultiplayer', 'modeling', 'movie',
       'nudity', 'photoediting', 'racing', 'rpg', 'sexualcontent', 'short',
       'simulation', 'softwaretraining', 'sports', 'strategy', 'tutorial',
       'utilities', 'videoproduction', 'violent', 'webpublishing'],
      dtype='object')

In [18]:
data[(data["sports"]==1) & (data["Review"]=="Positive")].iloc[:,:-37].describe()

,24_Hour_Peak,All_time_peak,average_forever,average_2weeks,median_forever,median_2weeks,price,initialprice,num_lang,required_age,controller_support,dlc,metacritic_tf,platforms_num,achievements,days_after_release,months_after_release
count,845.000000,845.000000,845.000000,845.000000,845.000000,845.000000,845.000000,845.000000,845.000000,845.000000,845.000000,845.000000,845.000000,845.000000,845.000000,845.000000,845.000000
mean,196.562130,1615.797633,359.067456,13.265089,296.778698,13.334911,9.671006,12.837882,7.208284,0.053254,0.306509,1.020118,0.057988,1.334911,29.268639,970.591716,31.867456
std,2458.768036,12011.464575,1877.923575,114.591592,1644.208440,108.389406,12.221756,17.860018,9.005221,0.904572,0.461317,4.091179,0.233859,0.660515,202.369752,531.425453,17.728507
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,140.000000,4.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.990000,0.990000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,493.000000,16.000000
50%,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,4.990000,8.990000,2.000000,0.000000,0.000000,0.000000,0.000000,1.000000,9.000000,944.000000,31.000000
75%,7.000000,128.000000,43.000000,0.000000,43.000000,0.000000,14.990000,19.990000,12.000000,0.000000,1.000000,0.000000,0.000000,1.000000,30.000000,1399.000000,46.000000
max,66833.000000,189230.000000,25490.000000,1836.000000,25393.000000,1946.000000,99.990000,199.990000,41.000000,18.000000,1.000000,44.000000,1.000000,3.000000,5000.000000,1961.000000,65.000000

In [19]:
data.columns[-36:].to_list()

['360v',
 'accounting',
 'action',
 'actiongames',
 'adventure',
 'animation',
 'audioproduction',
 'casual',
 'design',
 'documentary',
 'earlyaccess',
 'education',
 'episodic',
 'freetoplay',
 'gamedevelopment',
 'gore',
 'illustration',
 'indie',
 'massivelymultiplayer',
 'modeling',
 'movie',
 'nudity',
 'photoediting',
 'racing',
 'rpg',
 'sexualcontent',
 'short',
 'simulation',
 'softwaretraining',
 'sports',
 'strategy',
 'tutorial',
 'utilities',
 'videoproduction',
 'violent',
 'webpublishing']

In [20]:
gen = data.columns[-36:].to_list()
for elem in gen:
    # final.loc[elem+" Positive"] = data[(data[elem]==1) & (data["Review"]=="Positive")].iloc[:,:-37].describe().loc["mean",:].to_list()
    # final.loc[elem+" Negative"] = data[(data[elem]==1) & (data["Review"]=="Negative")].iloc[:,:-37].describe().loc["mean",:].to_list()
    
    final.loc[elem+" Positive"] = data[(data[elem]==1) & (data["Review"]=="Positive")].iloc[:,:-37].describe().loc["50%",:].to_list()
    final.loc[elem+" Negative"] = data[(data[elem]==1) & (data["Review"]=="Negative")].iloc[:,:-37].describe().loc["50%",:].to_list()

In [21]:
data[(data["action"]==1) & (data["Review"]=="Positive")].iloc[:,:-37].describe()

,24_Hour_Peak,All_time_peak,average_forever,average_2weeks,median_forever,median_2weeks,price,initialprice,num_lang,required_age,controller_support,dlc,metacritic_tf,platforms_num,achievements,days_after_release,months_after_release
count,6858.000000,6858.000000,6858.000000,6858.000000,6858.000000,6858.000000,6858.000000,6858.000000,6858.000000,6858.000000,6858.000000,6858.000000,6858.000000,6858.000000,6858.000000,6858.000000,6858.000000
mean,148.020706,1702.654418,185.580782,17.037620,148.636045,18.937154,9.387332,10.185900,7.144794,0.267717,0.407699,0.877078,0.073053,1.307378,26.214348,987.808836,32.447944
std,2119.803226,20695.326330,967.085787,188.298665,1149.013717,203.313604,10.623484,11.409855,8.711784,2.138233,0.491443,7.630268,0.260243,0.638565,143.825227,516.410477,17.210506
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,140.000000,4.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.990000,1.990000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,553.000000,18.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.990000,6.990000,2.000000,0.000000,0.000000,0.000000,0.000000,1.000000,14.000000,954.000000,31.000000
75%,1.000000,77.000000,39.000000,0.000000,38.000000,0.000000,14.990000,14.990000,12.000000,0.000000,1.000000,1.000000,0.000000,1.000000,30.000000,1401.000000,46.000000
max,123286.000000,952523.000000,40526.000000,9331.000000,80872.000000,9331.000000,119.990000,199.990000,44.000000,18.000000,1.000000,461.000000,1.000000,3.000000,5000.000000,1964.000000,65.000000

In [22]:
final

,24_Hour_Peak,All_time_peak,average_forever,average_2weeks,median_forever,median_2weeks,price,initialprice,num_lang,required_age,controller_support,dlc,metacritic_tf,platforms_num,achievements,days_after_release,months_after_release
360v Positive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
360v Negative,0.0,0.0,0.0,0.0,0.0,0.0,4.99,4.99,38.0,0.0,0.0,0.0,0.0,1.0,0.0,947.0,31.0
accounting Positive,0.0,109.0,49.0,0.0,73.0,0.0,0.00,0.00,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1900.0,63.0
accounting Negative,0.0,0.0,0.0,0.0,0.0,0.0,2.99,2.99,1.0,0.0,0.0,0.0,0.0,1.0,0.0,947.0,31.0
action Positive,0.0,0.0,0.0,0.0,0.0,0.0,5.99,6.99,2.0,0.0,0.0,0.0,0.0,1.0,14.0,954.0,31.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
videoproduction Negative,0.0,0.0,0.0,0.0,0.0,0.0,8.49,8.49,20.5,0.0,0.0,0.0,0.0,1.0,0.0,905.5,29.5
violent Positive,0.0,5.0,0.0,0.0,0.0,0.0,4.99,4.99,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1851.0,61.0
violent Negative,0.0,0.0,0.0,0.0,0.0,0.0,4.99,5.99,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1856.0,61.0
webpublishing Positive,0.0,109.0,49.0,0.0,72.0,0.0,0.00,0.00,14.0,0.0,0.0,0.0,0.0,1.0,0.0,1841.0,61.0
webpublishing Negative,0.0,0.0,0.0,0.0,0.0,0.0,4.99,4.99,38.0,0.0,0.0,0.0,0.0,1.0,0.0,947.0,31.0

In [ ]:
final.to_csv(r"C:\Users\NT550-052\OneDrive\바탕 화면\ASAC\프로젝트\ML\web_crawling\CGW\report\report_median.csv",sep=";")