In [1]:
from warnings import filterwarnings
filterwarnings('ignore')

from glob import glob
from tqdm import tqdm
from collections import deque

import requests
import pandas as pd
import numpy as np
import os

In [14]:
gp_path = f"{os.getcwd().split('EDA')[0]}\\EDA"
csv_path = f"{os.getcwd().split('EDA')[0]}\\web_crawling"
print(gp_path, csv_path, sep='\n')

c:\Users\reot1\OneDrive\바탕 화면\ml2\\EDA
c:\Users\reot1\OneDrive\바탕 화면\ml2\\web_crawling

In [12]:
raw_path = glob(f'{csv_path}\\**\\raw_*.csv', recursive=True)[0]
tag_path = glob(f'{csv_path}\\**\\tag_*.csv', recursive=True)[0]
print(raw_path, tag_path, sep='\n')

c:\Users\reot1\OneDrive\바탕 화면\ml2\\web_crawling\merge_dataset\raw_merge.csv
c:\Users\reot1\OneDrive\바탕 화면\ml2\\web_crawling\merge_dataset\tag_merge.csv

In [16]:
raw = pd.read_csv(raw_path, sep='\t')
tag = pd.read_csv(tag_path)

In [71]:
def check_info(df, type_=None):
    column_list = []
    if type_ == 'object':
        for col in df.columns:
            if df[col].dtype == type_:
                print(f'col :{col}\ttype :{df[col].dtype}\tNa :{sum(df[col].isna())}')
                column_list.append(col)
        return column_list
    
    elif type_ == 'int':
        for col in df.columns:
            if df[col].dtype == 'int64' or df[col].dtype == 'int32':
                print(f'col :{col}\ttype :{df[col].dtype}\tNa :{sum(df[col].isna())}')
                column_list.append(col)
        return column_list
    
    elif type_ == 'float':
        for col in df.columns:
            if df[col].dtype == 'float64' or df[col].dtype == 'float34':
                print(f'col :{col}\ttype :{df[col].dtype}\tNa :{sum(df[col].isna())}')
                column_list.append(col)
        return column_list
    
    else:
        for col in df.columns:
            print(f'col :{col}\ttype :{df[col].dtype}\tNa :{sum(df[col].isna())}')

In [60]:
# 'genre', 'platforms_num' 컬럼이 Na면 삭제
r_df = raw.copy()
r_df.dropna(subset=['genre', 'platforms_num'], inplace=True)
r_df.reset_index(drop=True,inplace=True)
r_df.head(1)

,appid,24_Hour_Peak,All_time_peak,positive,negative,average_forever,average_2weeks,median_forever,median_2weeks,price,...,metacritic,metacritic_tf,windows,mac,linux,platforms_num,recommendations,achievements,new_date,Review
0,294100,20930,60742,157344,3038,12492,1401,5368,921,34.99,...,87.0,1,1.0,1.0,1.0,3.0,134967.0,0.0,2018-10-17,Overwhelmingly Positive

In [75]:
check_info(r_df, 'object')

col :24_Hour_Peak	type :object	Na :0
col :All_time_peak	type :object	Na :0
col :genre	type :object	Na :0
col :is_free	type :object	Na :0
col :new_date	type :object	Na :0
col :Review	type :object	Na :0

['24_Hour_Peak', 'All_time_peak', 'genre', 'is_free', 'new_date', 'Review']

In [78]:
for col in ['24_Hour_Peak', 'All_time_peak', 'is_free']:
    print(col)
    print(r_df[col].value_counts()[:5])
    print()

24_Hour_Peak
Invalid    29187
0           7556
1            867
2            518
3            362
Name: 24_Hour_Peak, dtype: int64

All_time_peak
Invalid    29187
1           2024
2           1288
3            797
0            609
Name: All_time_peak, dtype: int64

is_free
False    38720
True      3921
0.0        303
1.0         48
Name: is_free, dtype: int64