In [1]:
import pandas as pd
import numpy as np

In [52]:
raw = pd.read_csv(r'C:\Users\NT550-045\Desktop\ml2\2022_steam2.csv', sep='\t')
raw.head(1)

,developer,publisher,positive,negative,average_forever,average_2weeks,median_forever,median_2weeks,price,initialprice,languages,tags,appid,num_lang
0,poncle,poncle,193290,2495,1448,154,971,73,4.99,4.99,"English, French, Italian, German, Spanish - Sp...","{'Action Roguelike': 498, 'Bullet Hell': 449, ...",1794680,17

In [5]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11862 entries, 0 to 11861
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   developer        10050 non-null  object
 1   publisher        10043 non-null  object
 2   positive         11862 non-null  int64
 3   negative         11862 non-null  int64
 4   average_forever  11862 non-null  int64
 5   average_2weeks   11862 non-null  int64
 6   median_forever   11862 non-null  int64
 7   median_2weeks    11862 non-null  int64
 8   price            11862 non-null  float64
 9   initialprice     11862 non-null  float64
 10  languages        10055 non-null  object
 11  tags             11862 non-null  object
 12  appid            11862 non-null  int64
 13  num_lang         11862 non-null  int64
dtypes: float64(2), int64(8), object(4)
memory usage: 1.3+ MB

In [53]:
raw['tags'] = raw['tags'].apply(lambda x: eval(x) if x != '[]' else set())
raw['tags']

0        {'Action Roguelike': 498, 'Bullet Hell': 449, ...
1        {'Cats': 1244, 'Adventure': 884, 'Cyberpunk': ...
2                                                       {}
3        {'Casual': 587, 'Relaxing': 382, 'Simulation':...
4        {'Action': 711, 'Singleplayer': 641, 'Story Ri...
                               ...
11857                                                   {}
11858    {'Hidden Object': 365, 'Mystery': 364, 'Advent...
11859                                                   {}
11860    {'Action': 63, 'First-Person': 37, 'Horror': 3...
11861    {'Strategy': 506, 'Simulation': 502, 'Grand St...
Name: tags, Length: 11862, dtype: object

In [54]:
tag_set = set()
for i in range(len(raw)):
    tag_set |= set(raw.loc[i,'tags'])

In [55]:
len(tag_set)

437

In [56]:
from collections import deque
tag_dict = {tag : deque([]) for tag in tag_set}

In [57]:
for i in range(len(raw)):
    for tag in tag_set:
        try:
            tag_dict[tag].append(raw.loc[i,'tags'][tag])
        except:
            tag_dict[tag].append(0)

In [58]:
tag_dict['appid'] = raw['appid']

In [62]:
tag_df = pd.DataFrame(tag_dict)

In [63]:
tag_df.describe()

,Gambling,Side Scroller,Electronic Music,Class-Based,Nature,Sailing,Driving,Alternate History,Lemmings,Wholesome,...,Fishing,Racing,Interactive Fiction,Job Simulator,Hack and Slash,Education,Massively Multiplayer,CRPG,Dinosaurs,appid
count,11862.000000,11862.000000,11862.000000,11862.000000,11862.000000,11862.000000,11862.000000,11862.000000,11862.000000,11862.000000,...,11862.000000,11862.000000,11862.000000,11862.000000,11862.000000,11862.000000,11862.000000,11862.000000,11862.000000,1.186200e+04
mean,0.284438,8.183527,0.206626,1.200725,4.538695,0.578907,2.575198,2.375991,0.104451,0.838982,...,1.123504,5.193728,7.626201,0.087422,7.232001,3.693391,1.566178,2.667088,0.620890,1.838150e+06
std,7.173981,49.478646,7.526927,16.584980,32.494552,13.549634,23.018474,24.239338,4.324709,15.818821,...,22.354937,39.119078,45.040003,2.871123,53.221394,31.999887,21.529912,30.563406,12.956681,3.236783e+05
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.615500e+05
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.734435e+06
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.912335e+06
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.064568e+06
max,333.000000,2083.000000,579.000000,657.000000,1608.000000,568.000000,515.000000,556.000000,283.000000,902.000000,...,1598.000000,1671.000000,1072.000000,219.000000,2238.000000,1333.000000,749.000000,1558.000000,605.000000,2.253880e+06

In [61]:
raw.loc[i,'tags']

{'Strategy': 506,
 'Simulation': 502,
 'Grand Strategy': 475,
 'RTS': 472,
 'Political Sim': 461,
 'Real Time Tactics': 458,
 'Wargame': 451,
 '3D': 433,
 'Realistic': 425,
 'Atmospheric': 412,
 'Education': 400,
 'Foreign': 390,
 'Lore-Rich': 375,
 'War': 368,
 'Management': 353,
 'Military': 337,
 'Politics': 323,
 'Modern': 323,
 'Political': 299,
 'Economy': 282}

In [64]:
tag_df

,Gambling,Side Scroller,Electronic Music,Class-Based,Nature,Sailing,Driving,Alternate History,Lemmings,Wholesome,...,Fishing,Racing,Interactive Fiction,Job Simulator,Hack and Slash,Education,Massively Multiplayer,CRPG,Dinosaurs,appid
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1794680
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1332010
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1583720
3,0,0,0,0,0,0,0,0,0,299,...,0,0,0,0,0,0,0,0,0,1290000
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,355,0,0,0,0,1593500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11857,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1995280
11858,0,0,0,0,0,0,0,0,0,0,...,0,0,350,0,0,0,0,0,0,2098860
11859,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2154770
11860,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1915410
11861,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,400,0,0,0,1563130

In [71]:
col = ['appid'] + tag_df.columns[:-1].to_list()
tag_df = tag_df[col]

In [72]:
tag_df

,appid,Gambling,Side Scroller,Electronic Music,Class-Based,Nature,Sailing,Driving,Alternate History,Lemmings,...,Hardware,Fishing,Racing,Interactive Fiction,Job Simulator,Hack and Slash,Education,Massively Multiplayer,CRPG,Dinosaurs
0,1794680,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1332010,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1583720,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1290000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1593500,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,355,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11857,1995280,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11858,2098860,0,0,0,0,0,0,0,0,0,...,0,0,0,350,0,0,0,0,0,0
11859,2154770,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11860,1915410,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11861,1563130,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,400,0,0,0

In [73]:
tag_df.to_csv('2022_tag.csv', index=False)