In [1]:
import pandas as pd
from sklearn import preprocessing
import numpy as np

In [2]:
a=pd.read_csv(r"C:\Users\moonp\ASAC과정\ASAC_ml_project\web_crawling\merge_dataset\raw_merge.csv",sep="\t")
a.head()

,appid,24_Hour_Peak,All_time_peak,positive,negative,average_forever,average_2weeks,median_forever,median_2weeks,price,...,metacritic,metacritic_tf,windows,mac,linux,platforms_num,recommendations,achievements,new_date,Review
0,294100,20930,60742,157344,3038,12492,1401,5368,921,34.99,...,87.0,1,1.0,1.0,1.0,3.0,134967.0,0.0,2018-10-17,Overwhelmingly Positive
1,960090,13428,53891,246979,6441,4018,277,1532,62,13.99,...,NaN,0,1.0,1.0,0.0,2.0,222889.0,146.0,2018-12-18,Overwhelmingly Positive
2,504230,1234,4148,71428,1686,1316,310,370,582,19.99,...,88.0,1,1.0,1.0,1.0,3.0,66397.0,32.0,2018-01-25,Overwhelmingly Positive
3,588650,4553,14880,128085,3722,1841,183,868,213,14.99,...,89.0,1,1.0,1.0,1.0,3.0,113184.0,121.0,2018-08-06,Overwhelmingly Positive
4,264710,4205,50876,221972,7800,1943,313,941,277,29.99,...,87.0,1,1.0,1.0,0.0,2.0,208334.0,17.0,2018-01-24,Overwhelmingly Positive

In [3]:
a.metacritic=a.metacritic.fillna(-1)
tmp=a.dropna(axis=0)
### 동접자수 전처리 과정 동접자수 없는 경우 0으로 표기
tmp["24_Hour_Peak"].replace("Invalid","0",inplace=True)
tmp["All_time_peak"].replace("Invalid","0",inplace=True)
tmp["24_Hour_Peak"]=tmp["24_Hour_Peak"].astype(int)
tmp["All_time_peak"]=tmp["All_time_peak"].astype(int)

### 장르 전처리


### is free 전처리
tmp.is_free.replace("False","0",inplace=True)
tmp.is_free.replace("0.0","0",inplace=True)
tmp.is_free.replace("True","1",inplace=True)
tmp.is_free.replace("1.0","1",inplace=True)
tmp.is_free=tmp.is_free.astype(int)
tmp.is_free=tmp.is_free.astype(int)
print(tmp.is_free.unique())

print(tmp.info())
print(tmp.Review.unique())

[0 1]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 42992 entries, 0 to 46251
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   appid               42992 non-null  int64
 1   24_Hour_Peak        42992 non-null  int32
 2   All_time_peak       42992 non-null  int32
 3   positive            42992 non-null  int64
 4   negative            42992 non-null  int64
 5   average_forever     42992 non-null  int64
 6   average_2weeks      42992 non-null  int64
 7   median_forever      42992 non-null  int64
 8   median_2weeks       42992 non-null  int64
 9   price               42992 non-null  float64
 10  initialprice        42992 non-null  float64
 11  genre               42992 non-null  object
 12  num_lang            42992 non-null  int64
 13  required_age        42992 non-null  float64
 14  is_free             42992 non-null  int32
 15  controller_support  42992 non-null  int64
 16  dlc                 42992 non-null  float64
 17  metacritic          42992 non-null  float64
 18  metacritic_tf       42992 non-null  int64
 19  windows             42992 non-null  float64
 20  mac                 42992 non-null  float64
 21  linux               42992 non-null  float64
 22  platforms_num       42992 non-null  float64
 23  recommendations     42992 non-null  float64
 24  achievements        42992 non-null  float64
 25  new_date            42992 non-null  object
 26  Review              42992 non-null  object
dtypes: float64(11), int32(3), int64(10), object(3)
memory usage: 8.7+ MB
None
['Overwhelmingly Positive' 'Very Positive' 'Positive' 'Mostly Positive'
 'Mixed' 'No user reviews' '8 user reviews' '7 user reviews'
 '4 user reviews' '9 user reviews' '5 user reviews' '6 user reviews'
 '2 user reviews' '3 user reviews' '1 user reviews' 'Mostly Negative'
 'Negative' 'Very Negative' 'None' 'Overwhelmingly Negative']

c:\Users\moonp\AppData\Local\Programs\Python\Python38\lib\site-packages\pandas\core\series.py:4563: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(
<ipython-input-3-5f0a721c57e5>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp["24_Hour_Peak"]=tmp["24_Hour_Peak"].astype(int)
<ipython-input-3-5f0a721c57e5>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp["All_time_peak"]=tmp["All_time_peak"].astype(int)
c:\Users\moonp\AppData\Local\Programs\Python\Python38\lib\site-packages\pandas\core\generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [4]:
No_interest_lst=['No user reviews','8 user reviews','7 user reviews','4 user reviews','9 user reviews','5 user reviews','6 user reviews','2 user reviews','3 user reviews','1 user reviews','None']
Positive_lst=['Overwhelmingly Positive','Very Positive','Positive','Mostly Positive']
Negative_lst=['Negative','Very Negative','Overwhelmingly Negative','Mostly Negative']
tmp.Review.replace(No_interest_lst,"No_interest",inplace=True)
tmp.Review.replace(Positive_lst,"Positive",inplace=True)
tmp.Review.replace(Negative_lst,"Negative",inplace=True)
# 'Overwhelmingly Positive' 'Very Positive' 'Positive' 'Mostly Positive'
#  'Mixed' 'No user reviews' '8 user reviews' '7 user reviews'
#  '4 user reviews' '9 user reviews' '5 user reviews' '6 user reviews'
#  '2 user reviews' '3 user reviews' '1 user reviews' 'Mostly Negative'
#  'Negative' 'Very Negative' 'None' 'Overwhelmingly Negative'

In [5]:
tmp.head()

,appid,24_Hour_Peak,All_time_peak,positive,negative,average_forever,average_2weeks,median_forever,median_2weeks,price,...,metacritic,metacritic_tf,windows,mac,linux,platforms_num,recommendations,achievements,new_date,Review
0,294100,20930,60742,157344,3038,12492,1401,5368,921,34.99,...,87.0,1,1.0,1.0,1.0,3.0,134967.0,0.0,2018-10-17,Positive
1,960090,13428,53891,246979,6441,4018,277,1532,62,13.99,...,-1.0,0,1.0,1.0,0.0,2.0,222889.0,146.0,2018-12-18,Positive
2,504230,1234,4148,71428,1686,1316,310,370,582,19.99,...,88.0,1,1.0,1.0,1.0,3.0,66397.0,32.0,2018-01-25,Positive
3,588650,4553,14880,128085,3722,1841,183,868,213,14.99,...,89.0,1,1.0,1.0,1.0,3.0,113184.0,121.0,2018-08-06,Positive
4,264710,4205,50876,221972,7800,1943,313,941,277,29.99,...,87.0,1,1.0,1.0,0.0,2.0,208334.0,17.0,2018-01-24,Positive

In [6]:
le=preprocessing.LabelEncoder()
le.fit(np.array(tmp.Review))
y_true=le.fit_transform(tmp.Review)
print(le.classes_)

['Mixed' 'Negative' 'No_interest' 'Positive']

In [7]:
y_true

array([3, 3, 3, ..., 1, 1, 1])

In [8]:
x=tmp.drop(columns=["appid","positive","negative","genre","new_date","Review"])

In [9]:
x

,24_Hour_Peak,All_time_peak,average_forever,average_2weeks,median_forever,median_2weeks,price,initialprice,num_lang,required_age,...,controller_support,dlc,metacritic,metacritic_tf,windows,mac,linux,platforms_num,recommendations,achievements
0,20930,60742,12492,1401,5368,921,34.99,34.99,35,0.0,...,0,6.0,87.0,1,1.0,1.0,1.0,3.0,134967.0,0.0
1,13428,53891,4018,277,1532,62,13.99,13.99,24,0.0,...,0,1.0,-1.0,0,1.0,1.0,0.0,2.0,222889.0,146.0
2,1234,4148,1316,310,370,582,19.99,19.99,14,0.0,...,1,1.0,88.0,1,1.0,1.0,1.0,3.0,66397.0,32.0
3,4553,14880,1841,183,868,213,14.99,24.99,21,0.0,...,1,7.0,89.0,1,1.0,1.0,1.0,3.0,113184.0,121.0
4,4205,50876,1943,313,941,277,29.99,29.99,38,0.0,...,1,1.0,87.0,1,1.0,1.0,0.0,2.0,208334.0,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46246,0,0,0,0,0,0,2.49,4.99,5,0.0,...,0,0.0,-1.0,0,1.0,0.0,0.0,1.0,0.0,11.0
46247,0,0,0,0,0,0,14.99,14.99,4,0.0,...,0,1.0,-1.0,0,1.0,0.0,0.0,1.0,0.0,0.0
46248,0,0,0,0,0,0,9.99,9.99,1,0.0,...,0,0.0,-1.0,0,1.0,0.0,0.0,1.0,0.0,0.0
46250,0,1,0,0,0,0,2.99,2.99,1,0.0,...,0,0.0,-1.0,0,1.0,0.0,0.0,1.0,0.0,0.0
46251,4,97,0,0,0,0,29.99,29.99,16,0.0,...,0,0.0,-1.0,0,1.0,0.0,0.0,1.0,897.0,35.0

In [10]:
x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42992 entries, 0 to 46251
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   24_Hour_Peak        42992 non-null  int32
 1   All_time_peak       42992 non-null  int32
 2   average_forever     42992 non-null  int64
 3   average_2weeks      42992 non-null  int64
 4   median_forever      42992 non-null  int64
 5   median_2weeks       42992 non-null  int64
 6   price               42992 non-null  float64
 7   initialprice        42992 non-null  float64
 8   num_lang            42992 non-null  int64
 9   required_age        42992 non-null  float64
 10  is_free             42992 non-null  int32
 11  controller_support  42992 non-null  int64
 12  dlc                 42992 non-null  float64
 13  metacritic          42992 non-null  float64
 14  metacritic_tf       42992 non-null  int64
 15  windows             42992 non-null  float64
 16  mac                 42992 non-null  float64
 17  linux               42992 non-null  float64
 18  platforms_num       42992 non-null  float64
 19  recommendations     42992 non-null  float64
 20  achievements        42992 non-null  float64
dtypes: float64(11), int32(3), int64(7)
memory usage: 6.7 MB

In [11]:
from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
x_train, x_val, y_train, y_val = train_test_split(
    x,    # 문제 --> train/val
    y_true,    # 정답지
    test_size= 0.2, # train 데이터 중에서 20프로만 중간 검사용으로 빼두자..
    random_state= 1234, # 옵션 : 나중에 재현성을 위해서 seed값.
    stratify = y_true # 옵션 : 나눌 때 비율을 유지할지 말지....
)
kfold = KFold( n_splits=5, random_state=1234, shuffle=True)
# cv = 5 ---> 내가 run할 때 마다 셋들이 5개이기는 하지만 구성이 제각가..
# cv = kold ---> 언제, 어디서 하더라도 5개 셋이, 다 고정으로 동일하게 적용!!!
rf = RandomForestClassifier(n_jobs=-1, random_state=1234)
scores = cross_val_score( rf, 
                         x_train, y_train,
                         cv = kfold, # --> 고정적으로 CV할 때 데이터셋 고정..
                         scoring = "accuracy")
for iter_count, acc in enumerate( scores):
    print("RF {0}번째 검증 ACC:{1:.4f}".format(iter_count+1,acc ))
print("RF 모델 Accuracy 평균:", scores.mean())
print("RF 모델 Accuracy std:", scores.std())

RF 1번째 검증 ACC:0.6210
RF 2번째 검증 ACC:0.6199
RF 3번째 검증 ACC:0.6280
RF 4번째 검증 ACC:0.6301
RF 5번째 검증 ACC:0.6371
RF 모델 Accuracy 평균: 0.6272210271506206
RF 모델 Accuracy std: 0.006314654199623931

In [12]:
x_train

,24_Hour_Peak,All_time_peak,average_forever,average_2weeks,median_forever,median_2weeks,price,initialprice,num_lang,required_age,...,controller_support,dlc,metacritic,metacritic_tf,windows,mac,linux,platforms_num,recommendations,achievements
13524,0,0,0,0,0,0,0.99,0.99,13,0.0,...,0,0.0,-1.0,0,1.0,0.0,0.0,1.0,0.0,3.0
23163,0,0,0,0,0,0,1.99,1.99,3,0.0,...,0,0.0,-1.0,0,1.0,0.0,0.0,1.0,0.0,0.0
22421,0,0,0,0,0,0,12.99,12.99,5,0.0,...,0,0.0,-1.0,0,1.0,0.0,0.0,1.0,0.0,0.0
2144,0,0,0,0,0,0,0.99,0.99,1,0.0,...,0,0.0,-1.0,0,1.0,0.0,0.0,1.0,0.0,88.0
39276,0,0,0,0,0,0,14.99,14.99,1,0.0,...,0,0.0,-1.0,0,1.0,0.0,0.0,1.0,0.0,24.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44293,0,0,0,0,0,0,0.99,0.99,1,0.0,...,0,0.0,-1.0,0,1.0,0.0,0.0,1.0,0.0,0.0
17593,0,3,0,0,0,0,2.99,2.99,1,0.0,...,0,0.0,-1.0,0,1.0,0.0,0.0,1.0,0.0,0.0
7222,0,0,0,0,0,0,4.99,4.99,1,0.0,...,0,0.0,-1.0,0,1.0,0.0,0.0,1.0,0.0,0.0
4318,0,0,0,0,0,0,1.99,1.99,1,0.0,...,0,6.0,-1.0,0,1.0,0.0,0.0,1.0,0.0,0.0
19897,0,0,0,0,0,0,0.00,0.00,1,0.0,...,0,0.0,-1.0,0,1.0,1.0,1.0,3.0,0.0,20.0

In [13]:
# RGS 
# 1) 모델
rf = RandomForestClassifier(n_jobs=-1, random_state=1234,verbose=2)
# 2) 파라미터의 조합 RGS --> 여러개가 있지만,,대표적인 것만 세팅..
parameters = {
    # 몇 개의 모델을 활용할지 
    "n_estimators" : [100, 300, 500], # 7
    # 세로에 대해서 어떻게 샘플링을 할지.
    "max_features" : ["sqrt","log2", None], # 3
    # 각 모델이 dt의 overfit을 조절하기
    "max_depth" : [2,5,10,20,100], # 10
    # 기타 여러 parameters 세팅 가능함....
}
# 3) RGS --> 몇 번 반복할지 
n_iter = 10
# 4) RGSCV 세팅.
rf_kfold_rgs = RandomizedSearchCV( rf, 
                                  param_distributions= parameters,
                                  cv = kfold,
                                  scoring = "accuracy",
                                  n_jobs= -1,
                                  random_state=1234,
                                  n_iter = n_iter,verbose=3
                                  )
# 5) 학습
rf_kfold_rgs.fit(x_train, y_train)

Fitting 5 folds for each of 10 candidates, totalling 50 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:  1.6min
[Parallel(n_jobs=-1)]: Done  50 out of  50 | elapsed:  2.6min finished
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 8 concurrent workers.

building tree 1 of 300
building tree 2 of 300
building tree 3 of 300
building tree 4 of 300
building tree 5 of 300
building tree 6 of 300
building tree 7 of 300
building tree 8 of 300
building tree 9 of 300
building tree 10 of 300
building tree 11 of 300
building tree 12 of 300
building tree 13 of 300
building tree 14 of 300building tree 15 of 300

building tree 16 of 300
building tree 17 of 300building tree 18 of 300

building tree 19 of 300
building tree 20 of 300
building tree 21 of 300
building tree 22 of 300
building tree 23 of 300
building tree 24 of 300
building tree 25 of 300
building tree 26 of 300
building tree 27 of 300
building tree 28 of 300
building tree 29 of 300
building tree 30 of 300
building tree 31 of 300
building tree 32 of 300
building tree 33 of 300
building tree 34 of 300building tree 35 of 300

building tree 36 of 300
building tree 37 of 300

[Parallel(n_jobs=-1)]: Done  25 tasks      | elapsed:    0.5s

building tree 38 of 300
building tree 39 of 300
building tree 40 of 300
building tree 41 of 300
building tree 42 of 300
building tree 43 of 300
building tree 44 of 300
building tree 45 of 300
building tree 46 of 300
building tree 47 of 300
building tree 48 of 300
building tree 49 of 300
building tree 50 of 300
building tree 51 of 300
building tree 52 of 300
building tree 53 of 300
building tree 54 of 300
building tree 55 of 300
building tree 56 of 300
building tree 57 of 300
building tree 58 of 300
building tree 59 of 300
building tree 60 of 300
building tree 61 of 300
building tree 62 of 300
building tree 63 of 300
building tree 64 of 300
building tree 65 of 300
building tree 66 of 300
building tree 67 of 300
building tree 68 of 300
building tree 69 of 300
building tree 70 of 300
building tree 71 of 300
building tree 72 of 300
building tree 73 of 300
building tree 74 of 300
building tree 75 of 300
building tree 76 of 300
building tree 77 of 300
building tree 78 of 300
building tree 79 of 300
building tree 80 of 300
building tree 81 of 300
building tree 82 of 300
building tree 83 of 300
building tree 84 of 300
building tree 85 of 300
building tree 86 of 300
building tree 87 of 300
building tree 88 of 300
building tree 89 of 300
building tree 90 of 300
building tree 91 of 300
building tree 92 of 300
building tree 93 of 300
building tree 94 of 300
building tree 95 of 300
building tree 96 of 300
building tree 97 of 300
building tree 98 of 300
building tree 99 of 300
building tree 100 of 300
building tree 101 of 300
building tree 102 of 300
building tree 103 of 300
building tree 104 of 300
building tree 105 of 300
building tree 106 of 300
building tree 107 of 300
building tree 108 of 300
building tree 109 of 300
building tree 110 of 300
building tree 111 of 300
building tree 112 of 300
building tree 113 of 300
building tree 114 of 300
building tree 115 of 300
building tree 116 of 300
building tree 117 of 300
building tree 118 of 300
building tree 119 of 300
building tree 120 of 300
building tree 121 of 300
building tree 122 of 300
building tree 123 of 300
building tree 124 of 300
building tree 125 of 300
building tree 126 of 300
building tree 127 of 300
building tree 128 of 300
building tree 129 of 300
building tree 130 of 300
building tree 131 of 300
building tree 132 of 300
building tree 133 of 300
building tree 134 of 300
building tree 135 of 300
building tree 136 of 300
building tree 137 of 300
building tree 138 of 300
building tree 139 of 300
building tree 140 of 300
building tree 141 of 300
building tree 142 of 300
building tree 143 of 300
building tree 144 of 300
building tree 145 of 300
building tree 146 of 300
building tree 147 of 300
building tree 148 of 300
building tree 149 of 300
building tree 150 of 300building tree 151 of 300

building tree 152 of 300
building tree 153 of 300
building tree 154 of 300
building tree 155 of 300
building tree 156 of 300

[Parallel(n_jobs=-1)]: Done 146 tasks      | elapsed:    2.7s

building tree 157 of 300
building tree 158 of 300
building tree 159 of 300
building tree 160 of 300
building tree 161 of 300
building tree 162 of 300
building tree 163 of 300
building tree 164 of 300
building tree 165 of 300
building tree 166 of 300
building tree 167 of 300
building tree 168 of 300
building tree 169 of 300
building tree 170 of 300
building tree 171 of 300
building tree 172 of 300
building tree 173 of 300
building tree 174 of 300
building tree 175 of 300
building tree 176 of 300
building tree 177 of 300
building tree 178 of 300
building tree 179 of 300
building tree 180 of 300
building tree 181 of 300
building tree 182 of 300
building tree 183 of 300
building tree 184 of 300
building tree 185 of 300
building tree 186 of 300building tree 187 of 300

building tree 188 of 300
building tree 189 of 300
building tree 190 of 300
building tree 191 of 300
building tree 192 of 300
building tree 193 of 300
building tree 194 of 300
building tree 195 of 300
building tree 196 of 300
building tree 197 of 300
building tree 198 of 300
building tree 199 of 300
building tree 200 of 300building tree 201 of 300

building tree 202 of 300
building tree 203 of 300
building tree 204 of 300
building tree 205 of 300
building tree 206 of 300
building tree 207 of 300
building tree 208 of 300
building tree 209 of 300
building tree 210 of 300
building tree 211 of 300
building tree 212 of 300
building tree 213 of 300
building tree 214 of 300
building tree 215 of 300
building tree 216 of 300
building tree 217 of 300
building tree 218 of 300
building tree 219 of 300
building tree 220 of 300
building tree 221 of 300
building tree 222 of 300
building tree 223 of 300
building tree 224 of 300
building tree 225 of 300
building tree 226 of 300
building tree 227 of 300
building tree 228 of 300
building tree 229 of 300
building tree 230 of 300
building tree 231 of 300
building tree 232 of 300
building tree 233 of 300
building tree 234 of 300
building tree 235 of 300
building tree 236 of 300
building tree 237 of 300
building tree 238 of 300
building tree 239 of 300
building tree 240 of 300
building tree 241 of 300
building tree 242 of 300
building tree 243 of 300
building tree 244 of 300
building tree 245 of 300
building tree 246 of 300
building tree 247 of 300building tree 248 of 300

building tree 249 of 300
building tree 250 of 300
building tree 251 of 300
building tree 252 of 300
building tree 253 of 300
building tree 254 of 300
building tree 255 of 300
building tree 256 of 300
building tree 257 of 300
building tree 258 of 300
building tree 259 of 300
building tree 260 of 300
building tree 261 of 300
building tree 262 of 300
building tree 263 of 300
building tree 264 of 300
building tree 265 of 300
building tree 266 of 300
building tree 267 of 300
building tree 268 of 300
building tree 269 of 300
building tree 270 of 300
building tree 271 of 300
building tree 272 of 300
building tree 273 of 300
building tree 274 of 300
building tree 275 of 300
building tree 276 of 300
building tree 277 of 300
building tree 278 of 300
building tree 279 of 300
building tree 280 of 300
building tree 281 of 300
building tree 282 of 300
building tree 283 of 300
building tree 284 of 300
building tree 285 of 300
building tree 286 of 300
building tree 287 of 300
building tree 288 of 300
building tree 289 of 300
building tree 290 of 300
building tree 291 of 300
building tree 292 of 300
building tree 293 of 300
building tree 294 of 300
building tree 295 of 300
building tree 296 of 300
building tree 297 of 300
building tree 298 of 300
building tree 299 of 300
building tree 300 of 300

[Parallel(n_jobs=-1)]: Done 300 out of 300 | elapsed:    5.9s finished

RandomizedSearchCV(cv=KFold(n_splits=5, random_state=1234, shuffle=True),
                   estimator=RandomForestClassifier(n_jobs=-1,
                                                    random_state=1234,
                                                    verbose=2),
                   n_jobs=-1,
                   param_distributions={'max_depth': [2, 5, 10, 20, 100],
                                        'max_features': ['sqrt', 'log2', None],
                                        'n_estimators': [100, 300, 500]},
                   random_state=1234, scoring='accuracy', verbose=3)

In [14]:
rf_kfold_rgs.best_score_

0.6549007453687576

In [15]:
rf_kfold_rgs.best_estimator_

RandomForestClassifier(max_depth=10, max_features=None, n_estimators=300,
                       n_jobs=-1, random_state=1234, verbose=2)

In [16]:
### louvain classification을 통한 분류
Class1_lst=['Action',
'Adventure',
'Casual',
'EarlyAccess',
'Indie',
'RPG',
'Simulation',
'Strategy']
Class2_lst=['ActionGames', 'FreetoPlay', 'MassivelyMultiplayer', 'Racing', 'Sports']
Class3_lst=['Gore', 'Nudity', 'SexualContent', 'Violent']
Class4_lst=['360V',
'Accounting',
'Animation&Modeling',
'AudioProduction',
'Design&Illustration',
'Documentary',
'Education',
'Episodic',
'GameDevelopment',
'Movie',
'PhotoEditing',
'Short',
'SoftwareTraining',
'Tutorial',
'Utilities',
'VideoProduction',
'WebPublishing']

In [45]:
df_genre=pd.DataFrame(tmp.genre)
# df_genre.replace
genre_pre=[]
for i in range(len(df_genre)):
    a=df_genre.iloc[i,0].replace(" ","").split(",")
    category=[0,0,0,0]
    for j in range(len(a)):
        if a[j] in Class1_lst:
            category[0]+=1
        elif a[j] in Class2_lst:
            category[1]+=1
        elif a[j] in Class3_lst:
            category[2]+=1
        elif a[j] in Class4_lst:
            category[3]+=1
    genre_pre.append(category)
# str(edge_list[i]).replace(" ","").split(",")

In [46]:
genre_pre=pd.DataFrame(genre_pre)
genre_pre.columns=["Genre_class1","Genre_class2","Genre_class3","Genre_class4"]

In [47]:
tmp3=tmp.reset_index(inplace=True)

In [48]:
tmp.drop(columns="index",inplace=True)

In [49]:
tmp

,appid,24_Hour_Peak,All_time_peak,positive,negative,average_forever,average_2weeks,median_forever,median_2weeks,price,...,metacritic,metacritic_tf,windows,mac,linux,platforms_num,recommendations,achievements,new_date,Review
0,294100,20930,60742,157344,3038,12492,1401,5368,921,34.99,...,87.0,1,1.0,1.0,1.0,3.0,134967.0,0.0,2018-10-17,Positive
1,960090,13428,53891,246979,6441,4018,277,1532,62,13.99,...,-1.0,0,1.0,1.0,0.0,2.0,222889.0,146.0,2018-12-18,Positive
2,504230,1234,4148,71428,1686,1316,310,370,582,19.99,...,88.0,1,1.0,1.0,1.0,3.0,66397.0,32.0,2018-01-25,Positive
3,588650,4553,14880,128085,3722,1841,183,868,213,14.99,...,89.0,1,1.0,1.0,1.0,3.0,113184.0,121.0,2018-08-06,Positive
4,264710,4205,50876,221972,7800,1943,313,941,277,29.99,...,87.0,1,1.0,1.0,0.0,2.0,208334.0,17.0,2018-01-24,Positive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42987,1420780,0,0,11,60,0,0,0,0,2.49,...,-1.0,0,1.0,0.0,0.0,1.0,0.0,11.0,2022-07-10,Negative
42988,1995280,0,0,0,0,0,0,0,0,14.99,...,-1.0,0,1.0,0.0,0.0,1.0,0.0,0.0,2022-12-02,Negative
42989,2098860,0,0,0,11,0,0,0,0,9.99,...,-1.0,0,1.0,0.0,0.0,1.0,0.0,0.0,2022-08-09,Negative
42990,1915410,0,1,0,16,0,0,0,0,2.99,...,-1.0,0,1.0,0.0,0.0,1.0,0.0,0.0,2022-04-26,Negative
42991,1563130,4,97,117,987,0,0,0,0,29.99,...,-1.0,0,1.0,0.0,0.0,1.0,897.0,35.0,2022-10-07,Negative

In [50]:
genre_pre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42992 entries, 0 to 42991
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Genre_class1  42992 non-null  int64
 1   Genre_class2  42992 non-null  int64
 2   Genre_class3  42992 non-null  int64
 3   Genre_class4  42992 non-null  int64
dtypes: int64(4)
memory usage: 1.3 MB

In [51]:
genre_pre

       Genre_class1  Genre_class2  Genre_class3  Genre_class4
0                 3             0             0             0
1                 1             0             0             0
2                 3             0             0             0
3                 3             0             0             0
4                 2             0             0             0
...             ...           ...           ...           ...
42987             4             0             0             0
42988             2             0             0             0
42989             2             0             0             0
42990             2             0             0             0
42991             2             0             0             0

[42992 rows x 4 columns]

In [52]:
tmp2=pd.concat([tmp,genre_pre],axis=1)

In [53]:
tmp2

,appid,24_Hour_Peak,All_time_peak,positive,negative,average_forever,average_2weeks,median_forever,median_2weeks,price,...,linux,platforms_num,recommendations,achievements,new_date,Review,Genre_class1,Genre_class2,Genre_class3,Genre_class4
0,294100,20930,60742,157344,3038,12492,1401,5368,921,34.99,...,1.0,3.0,134967.0,0.0,2018-10-17,Positive,3,0,0,0
1,960090,13428,53891,246979,6441,4018,277,1532,62,13.99,...,0.0,2.0,222889.0,146.0,2018-12-18,Positive,1,0,0,0
2,504230,1234,4148,71428,1686,1316,310,370,582,19.99,...,1.0,3.0,66397.0,32.0,2018-01-25,Positive,3,0,0,0
3,588650,4553,14880,128085,3722,1841,183,868,213,14.99,...,1.0,3.0,113184.0,121.0,2018-08-06,Positive,3,0,0,0
4,264710,4205,50876,221972,7800,1943,313,941,277,29.99,...,0.0,2.0,208334.0,17.0,2018-01-24,Positive,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42987,1420780,0,0,11,60,0,0,0,0,2.49,...,0.0,1.0,0.0,11.0,2022-07-10,Negative,4,0,0,0
42988,1995280,0,0,0,0,0,0,0,0,14.99,...,0.0,1.0,0.0,0.0,2022-12-02,Negative,2,0,0,0
42989,2098860,0,0,0,11,0,0,0,0,9.99,...,0.0,1.0,0.0,0.0,2022-08-09,Negative,2,0,0,0
42990,1915410,0,1,0,16,0,0,0,0,2.99,...,0.0,1.0,0.0,0.0,2022-04-26,Negative,2,0,0,0
42991,1563130,4,97,117,987,0,0,0,0,29.99,...,0.0,1.0,897.0,35.0,2022-10-07,Negative,2,0,0,0

In [55]:
tmp2.columns

Index(['appid', '24_Hour_Peak', 'All_time_peak', 'positive', 'negative',
       'average_forever', 'average_2weeks', 'median_forever', 'median_2weeks',
       'price', 'initialprice', 'genre', 'num_lang', 'required_age', 'is_free',
       'controller_support', 'dlc', 'metacritic', 'metacritic_tf', 'windows',
       'mac', 'linux', 'platforms_num', 'recommendations', 'achievements',
       'new_date', 'Review', 'Genre_class1', 'Genre_class2', 'Genre_class3',
       'Genre_class4'],
      dtype='object')

In [56]:
y_true=le.fit_transform(tmp2.Review)
print(le.classes_)
tmp4=tmp2.drop(columns=["appid","positive","negative","genre","new_date","Review"])
x_train, x_val, y_train, y_val = train_test_split(
    tmp4,    # 문제 --> train/val
    y_true,    # 정답지
    test_size= 0.2, # train 데이터 중에서 20프로만 중간 검사용으로 빼두자..
    random_state= 1234, # 옵션 : 나중에 재현성을 위해서 seed값.
    stratify = y_true # 옵션 : 나눌 때 비율을 유지할지 말지....
)
kfold = KFold( n_splits=5, random_state=1234, shuffle=True)
# cv = 5 ---> 내가 run할 때 마다 셋들이 5개이기는 하지만 구성이 제각가..
# cv = kold ---> 언제, 어디서 하더라도 5개 셋이, 다 고정으로 동일하게 적용!!!

['Mixed' 'Negative' 'No_interest' 'Positive']

In [57]:
print(len(y_true))
print(len(tmp4))

42992
42992

In [58]:
tmp4

,24_Hour_Peak,All_time_peak,average_forever,average_2weeks,median_forever,median_2weeks,price,initialprice,num_lang,required_age,...,windows,mac,linux,platforms_num,recommendations,achievements,Genre_class1,Genre_class2,Genre_class3,Genre_class4
0,20930,60742,12492,1401,5368,921,34.99,34.99,35,0.0,...,1.0,1.0,1.0,3.0,134967.0,0.0,3,0,0,0
1,13428,53891,4018,277,1532,62,13.99,13.99,24,0.0,...,1.0,1.0,0.0,2.0,222889.0,146.0,1,0,0,0
2,1234,4148,1316,310,370,582,19.99,19.99,14,0.0,...,1.0,1.0,1.0,3.0,66397.0,32.0,3,0,0,0
3,4553,14880,1841,183,868,213,14.99,24.99,21,0.0,...,1.0,1.0,1.0,3.0,113184.0,121.0,3,0,0,0
4,4205,50876,1943,313,941,277,29.99,29.99,38,0.0,...,1.0,1.0,0.0,2.0,208334.0,17.0,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42987,0,0,0,0,0,0,2.49,4.99,5,0.0,...,1.0,0.0,0.0,1.0,0.0,11.0,4,0,0,0
42988,0,0,0,0,0,0,14.99,14.99,4,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,2,0,0,0
42989,0,0,0,0,0,0,9.99,9.99,1,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,2,0,0,0
42990,0,1,0,0,0,0,2.99,2.99,1,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,2,0,0,0
42991,4,97,0,0,0,0,29.99,29.99,16,0.0,...,1.0,0.0,0.0,1.0,897.0,35.0,2,0,0,0

In [30]:
# RGS 
# 1) 모델
rf = RandomForestClassifier(n_jobs=-1, random_state=1234,verbose=2)
# 2) 파라미터의 조합 RGS --> 여러개가 있지만,,대표적인 것만 세팅..
parameters = {
    # 몇 개의 모델을 활용할지 
    "n_estimators" : [100, 300, 500], # 7
    # 세로에 대해서 어떻게 샘플링을 할지.
    "max_features" : ["sqrt","log2", None], # 3
    # 각 모델이 dt의 overfit을 조절하기
    "max_depth" : [2,5,10,20,100], # 10
    # 기타 여러 parameters 세팅 가능함....
}
# 3) RGS --> 몇 번 반복할지 
n_iter = 10
# 4) RGSCV 세팅.
rf_kfold_4 = RandomizedSearchCV( rf, 
                                  param_distributions= parameters,
                                  cv = kfold,
                                  scoring = "accuracy",
                                  n_jobs= -1,
                                  random_state=1234,
                                  n_iter = n_iter,verbose=3
                                  )
# 5) 학습
rf_kfold_4.fit(x_train, y_train)

Fitting 5 folds for each of 10 candidates, totalling 50 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:  1.7min
[Parallel(n_jobs=-1)]: Done  50 out of  50 | elapsed:  2.8min finished
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 8 concurrent workers.

building tree 1 of 300
building tree 2 of 300
building tree 3 of 300
building tree 4 of 300
building tree 5 of 300
building tree 6 of 300
building tree 7 of 300
building tree 8 of 300
building tree 9 of 300
building tree 10 of 300
building tree 11 of 300
building tree 12 of 300
building tree 13 of 300building tree 14 of 300

building tree 15 of 300
building tree 16 of 300
building tree 17 of 300
building tree 18 of 300
building tree 19 of 300
building tree 20 of 300
building tree 21 of 300
building tree 22 of 300
building tree 23 of 300
building tree 24 of 300
building tree 25 of 300
building tree 26 of 300
building tree 27 of 300
building tree 28 of 300
building tree 29 of 300
building tree 30 of 300building tree 31 of 300

building tree 32 of 300

[Parallel(n_jobs=-1)]: Done  25 tasks      | elapsed:    0.4s

building tree 33 of 300
building tree 34 of 300
building tree 35 of 300
building tree 36 of 300
building tree 37 of 300building tree 38 of 300

building tree 39 of 300
building tree 40 of 300
building tree 41 of 300
building tree 42 of 300
building tree 43 of 300
building tree 44 of 300
building tree 45 of 300
building tree 46 of 300
building tree 47 of 300
building tree 48 of 300
building tree 49 of 300
building tree 50 of 300
building tree 51 of 300
building tree 52 of 300
building tree 53 of 300
building tree 54 of 300
building tree 55 of 300
building tree 56 of 300
building tree 57 of 300
building tree 58 of 300
building tree 59 of 300
building tree 60 of 300
building tree 61 of 300
building tree 62 of 300building tree 63 of 300

building tree 64 of 300
building tree 65 of 300
building tree 66 of 300
building tree 67 of 300
building tree 68 of 300
building tree 69 of 300
building tree 70 of 300
building tree 71 of 300
building tree 72 of 300
building tree 73 of 300
building tree 74 of 300
building tree 75 of 300
building tree 76 of 300
building tree 77 of 300
building tree 78 of 300
building tree 79 of 300
building tree 80 of 300
building tree 81 of 300
building tree 82 of 300
building tree 83 of 300
building tree 84 of 300
building tree 85 of 300
building tree 86 of 300
building tree 87 of 300
building tree 88 of 300
building tree 89 of 300
building tree 90 of 300
building tree 91 of 300
building tree 92 of 300
building tree 93 of 300
building tree 94 of 300
building tree 95 of 300
building tree 96 of 300
building tree 97 of 300
building tree 98 of 300
building tree 99 of 300
building tree 100 of 300
building tree 101 of 300
building tree 102 of 300
building tree 103 of 300
building tree 104 of 300
building tree 105 of 300
building tree 106 of 300
building tree 107 of 300
building tree 108 of 300
building tree 109 of 300
building tree 110 of 300
building tree 111 of 300
building tree 112 of 300
building tree 113 of 300
building tree 114 of 300
building tree 115 of 300
building tree 116 of 300
building tree 117 of 300
building tree 118 of 300
building tree 119 of 300
building tree 120 of 300
building tree 121 of 300
building tree 122 of 300
building tree 123 of 300
building tree 124 of 300
building tree 125 of 300
building tree 126 of 300
building tree 127 of 300
building tree 128 of 300
building tree 129 of 300
building tree 130 of 300
building tree 131 of 300
building tree 132 of 300
building tree 133 of 300building tree 134 of 300

building tree 135 of 300
building tree 136 of 300
building tree 137 of 300
building tree 138 of 300
building tree 139 of 300
building tree 140 of 300
building tree 141 of 300
building tree 142 of 300
building tree 143 of 300
building tree 144 of 300
building tree 145 of 300
building tree 146 of 300
building tree 147 of 300
building tree 148 of 300building tree 149 of 300

building tree 150 of 300
building tree 151 of 300
building tree 152 of 300
building tree 153 of 300
building tree 154 of 300

[Parallel(n_jobs=-1)]: Done 146 tasks      | elapsed:    2.4s

building tree 155 of 300
building tree 156 of 300
building tree 157 of 300
building tree 158 of 300
building tree 159 of 300
building tree 160 of 300
building tree 161 of 300
building tree 162 of 300
building tree 163 of 300
building tree 164 of 300
building tree 165 of 300
building tree 166 of 300
building tree 167 of 300
building tree 168 of 300
building tree 169 of 300
building tree 170 of 300
building tree 171 of 300
building tree 172 of 300
building tree 173 of 300
building tree 174 of 300
building tree 175 of 300
building tree 176 of 300
building tree 177 of 300
building tree 178 of 300
building tree 179 of 300
building tree 180 of 300
building tree 181 of 300
building tree 182 of 300
building tree 183 of 300
building tree 184 of 300
building tree 185 of 300
building tree 186 of 300
building tree 187 of 300
building tree 188 of 300
building tree 189 of 300
building tree 190 of 300
building tree 191 of 300
building tree 192 of 300
building tree 193 of 300
building tree 194 of 300
building tree 195 of 300
building tree 196 of 300
building tree 197 of 300
building tree 198 of 300
building tree 199 of 300
building tree 200 of 300building tree 201 of 300

building tree 202 of 300
building tree 203 of 300
building tree 204 of 300
building tree 205 of 300
building tree 206 of 300
building tree 207 of 300
building tree 208 of 300
building tree 209 of 300
building tree 210 of 300
building tree 211 of 300
building tree 212 of 300
building tree 213 of 300
building tree 214 of 300
building tree 215 of 300
building tree 216 of 300
building tree 217 of 300
building tree 218 of 300
building tree 219 of 300
building tree 220 of 300
building tree 221 of 300
building tree 222 of 300
building tree 223 of 300
building tree 224 of 300
building tree 225 of 300
building tree 226 of 300
building tree 227 of 300
building tree 228 of 300
building tree 229 of 300
building tree 230 of 300
building tree 231 of 300
building tree 232 of 300
building tree 233 of 300
building tree 234 of 300
building tree 235 of 300
building tree 236 of 300
building tree 237 of 300
building tree 238 of 300
building tree 239 of 300
building tree 240 of 300
building tree 241 of 300
building tree 242 of 300
building tree 243 of 300
building tree 244 of 300
building tree 245 of 300
building tree 246 of 300
building tree 247 of 300
building tree 248 of 300
building tree 249 of 300
building tree 250 of 300
building tree 251 of 300
building tree 252 of 300
building tree 253 of 300
building tree 254 of 300
building tree 255 of 300
building tree 256 of 300
building tree 257 of 300
building tree 258 of 300building tree 259 of 300

building tree 260 of 300
building tree 261 of 300
building tree 262 of 300
building tree 263 of 300
building tree 264 of 300
building tree 265 of 300
building tree 266 of 300
building tree 267 of 300
building tree 268 of 300
building tree 269 of 300
building tree 270 of 300
building tree 271 of 300
building tree 272 of 300
building tree 273 of 300
building tree 274 of 300
building tree 275 of 300
building tree 276 of 300
building tree 277 of 300
building tree 278 of 300
building tree 279 of 300
building tree 280 of 300
building tree 281 of 300
building tree 282 of 300
building tree 283 of 300
building tree 284 of 300
building tree 285 of 300
building tree 286 of 300
building tree 287 of 300
building tree 288 of 300
building tree 289 of 300
building tree 290 of 300
building tree 291 of 300
building tree 292 of 300
building tree 293 of 300
building tree 294 of 300
building tree 295 of 300
building tree 296 of 300
building tree 297 of 300
building tree 298 of 300
building tree 299 of 300
building tree 300 of 300

[Parallel(n_jobs=-1)]: Done 300 out of 300 | elapsed:    5.0s finished

RandomizedSearchCV(cv=KFold(n_splits=5, random_state=1234, shuffle=True),
                   estimator=RandomForestClassifier(n_jobs=-1,
                                                    random_state=1234,
                                                    verbose=2),
                   n_jobs=-1,
                   param_distributions={'max_depth': [2, 5, 10, 20, 100],
                                        'max_features': ['sqrt', 'log2', None],
                                        'n_estimators': [100, 300, 500]},
                   random_state=1234, scoring='accuracy', verbose=3)

In [59]:
rf_parameter=[]
a_tmp=list(x_train.columns)
b_tmp=list(rf_kfold_4.best_estimator_.feature_importances_)
for i in range(len(a_tmp)):
    rf_parameter.append([a_tmp[i],b_tmp[i]])
rf_parameter=pd.DataFrame(rf_parameter)
rf_parameter=rf_parameter.sort_values(by=[1],ascending=False)

In [60]:
rf_parameter

                     0         1
19     recommendations  0.336973
1        All_time_peak  0.206407
20        achievements  0.100480
10             is_free  0.060113
8             num_lang  0.053652
6                price  0.042915
7         initialprice  0.042276
12                 dlc  0.031283
21        Genre_class1  0.024651
22        Genre_class2  0.021184
2      average_forever  0.020007
4       median_forever  0.017699
0         24_Hour_Peak  0.013859
18       platforms_num  0.009564
11  controller_support  0.005714
16                 mac  0.004182
13          metacritic  0.002788
17               linux  0.002067
9         required_age  0.001419
23        Genre_class3  0.000893
5        median_2weeks  0.000693
3       average_2weeks  0.000645
14       metacritic_tf  0.000474
24        Genre_class4  0.000058
15             windows  0.000003

In [32]:
community_00=['Indie']
community_01=['Simulation']
community_02=['Strategy']
community_03=['Action']
community_04=['Adventure']
community_05=['RPG']
community_06=['EarlyAccess']
community_07=['Casual']
community_08=['FreetoPlay']
community_09=['Sports']
community_10=['Racing']
community_11=['MassivelyMultiplayer']
community_12=['Violent']
community_13=['Gore']
community_14=['SexualContent']
community_15=['Animation&Modeling']
community_16=['Design&Illustration']
community_17=['Education']
community_18=['SoftwareTraining']
community_19=['Utilities']
community_20=['Movie', 'PhotoEditing', 'VideoProduction', 'AudioProduction', '360V', 'Tutorial', 'Documentary', 'GameDevelopment', 'Short', 'WebPublishing', 'Episodic', 'Accounting']
community_21=['Nudity']
community_22=['ActionGames']

In [33]:
category=[0 for i in range(23)]
print(len(category))

23

In [34]:
# df_genre.replace
genre_pre_com=[]
for i in range(len(df_genre)):
    a=df_genre.iloc[i,0].replace(" ","").split(",")
    category=[0 for i in range(23)]
    for j in range(len(a)):
        if a[j] in community_00:
            category[0]+=1
        elif a[j] in community_01:
            category[1]+=1
        elif a[j] in community_02:
            category[2]+=1
        elif a[j] in community_03:
            category[3]+=1
        elif a[j] in community_04:
            category[4]+=1
        elif a[j] in community_05:
            category[5]+=1
        elif a[j] in community_06:
            category[6]+=1
        elif a[j] in community_07:
            category[7]+=1
        elif a[j] in community_08:
            category[8]+=1
        elif a[j] in community_09:
            category[9]+=1
        elif a[j] in community_10:
            category[10]+=1
        elif a[j] in community_11:
            category[11]+=1
        elif a[j] in community_12:
            category[12]+=1
        elif a[j] in community_13:
            category[13]+=1
        elif a[j] in community_14:
            category[14]+=1
        elif a[j] in community_15:
            category[15]+=1
        elif a[j] in community_16:
            category[16]+=1
        elif a[j] in community_17:
            category[17]+=1
        elif a[j] in community_18:
            category[18]+=1
        elif a[j] in community_19:
            category[19]+=1
        elif a[j] in community_20:
            category[20]+=1
        elif a[j] in community_21:
            category[21]+=1
        elif a[j] in community_22:
            category[22]+=1
    genre_pre_com.append(category)
# str(edge_list[i]).replace(" ","").split(",")

In [35]:
genre_pre=pd.DataFrame(genre_pre_com)
genre_pre.columns=["Genre_class1","Genre_class2","Genre_class3","Genre_class4",
                   "Genre_class5","Genre_class6","Genre_class7","Genre_class8",
                   "Genre_class9","Genre_class10","Genre_class11","Genre_class12",
                   "Genre_class13","Genre_class14","Genre_class15","Genre_class16",
                   "Genre_class17","Genre_class18","Genre_class19","Genre_class20",
                   "Genre_class21","Genre_class22","Genre_class23"]

In [36]:
tmp2=pd.concat([tmp,genre_pre],axis=1)

In [37]:
tmp2

,appid,24_Hour_Peak,All_time_peak,positive,negative,average_forever,average_2weeks,median_forever,median_2weeks,price,...,Genre_class14,Genre_class15,Genre_class16,Genre_class17,Genre_class18,Genre_class19,Genre_class20,Genre_class21,Genre_class22,Genre_class23
0,294100,20930,60742,157344,3038,12492,1401,5368,921,34.99,...,0,0,0,0,0,0,0,0,0,0
1,960090,13428,53891,246979,6441,4018,277,1532,62,13.99,...,0,0,0,0,0,0,0,0,0,0
2,504230,1234,4148,71428,1686,1316,310,370,582,19.99,...,0,0,0,0,0,0,0,0,0,0
3,588650,4553,14880,128085,3722,1841,183,868,213,14.99,...,0,0,0,0,0,0,0,0,0,0
4,264710,4205,50876,221972,7800,1943,313,941,277,29.99,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42987,1420780,0,0,11,60,0,0,0,0,2.49,...,0,0,0,0,0,0,0,0,0,0
42988,1995280,0,0,0,0,0,0,0,0,14.99,...,0,0,0,0,0,0,0,0,0,0
42989,2098860,0,0,0,11,0,0,0,0,9.99,...,0,0,0,0,0,0,0,0,0,0
42990,1915410,0,1,0,16,0,0,0,0,2.99,...,0,0,0,0,0,0,0,0,0,0
42991,1563130,4,97,117,987,0,0,0,0,29.99,...,0,0,0,0,0,0,0,0,0,0

In [38]:
y_true=le.fit_transform(tmp2.Review)
print(le.classes_)
tmp4=tmp2.drop(columns=["appid","positive","negative","genre","new_date","Review"])
x_train, x_val, y_train, y_val = train_test_split(
    tmp4,    # 문제 --> train/val
    y_true,    # 정답지
    test_size= 0.2, # train 데이터 중에서 20프로만 중간 검사용으로 빼두자..
    random_state= 1234, # 옵션 : 나중에 재현성을 위해서 seed값.
    stratify = y_true # 옵션 : 나눌 때 비율을 유지할지 말지....
)
kfold = KFold( n_splits=5, random_state=1234, shuffle=True)
# cv = 5 ---> 내가 run할 때 마다 셋들이 5개이기는 하지만 구성이 제각가..
# cv = kold ---> 언제, 어디서 하더라도 5개 셋이, 다 고정으로 동일하게 적용!!!

['Mixed' 'Negative' 'No_interest' 'Positive']

In [39]:
# RGS 
# 1) 모델
rf = RandomForestClassifier(n_jobs=-1, random_state=1234,verbose=2)
# 2) 파라미터의 조합 RGS --> 여러개가 있지만,,대표적인 것만 세팅..
parameters = {
    # 몇 개의 모델을 활용할지 
    "n_estimators" : [100, 300, 500], # 7
    # 세로에 대해서 어떻게 샘플링을 할지.
    "max_features" : ["sqrt","log2", None], # 3
    # 각 모델이 dt의 overfit을 조절하기
    "max_depth" : [2,5,10,20,100], # 10
    # 기타 여러 parameters 세팅 가능함....
}
# 3) RGS --> 몇 번 반복할지 
n_iter = 10
# 4) RGSCV 세팅.
rf_kfold_newman = RandomizedSearchCV( rf, 
                                  param_distributions= parameters,
                                  cv = kfold,
                                  scoring = "accuracy",
                                  n_jobs= -1,
                                  random_state=1234,
                                  n_iter = n_iter,verbose=3
                                  )
# 5) 학습
rf_kfold_newman.fit(x_train, y_train)

Fitting 5 folds for each of 10 candidates, totalling 50 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:  2.5min
[Parallel(n_jobs=-1)]: Done  50 out of  50 | elapsed:  4.0min finished
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 8 concurrent workers.

building tree 1 of 300building tree 2 of 300
building tree 3 of 300

building tree 4 of 300building tree 5 of 300

building tree 6 of 300
building tree 7 of 300
building tree 8 of 300
building tree 9 of 300
building tree 10 of 300
building tree 11 of 300
building tree 12 of 300
building tree 13 of 300
building tree 14 of 300
building tree 15 of 300
building tree 16 of 300
building tree 17 of 300
building tree 18 of 300
building tree 19 of 300
building tree 20 of 300
building tree 21 of 300
building tree 22 of 300
building tree 23 of 300
building tree 24 of 300
building tree 25 of 300
building tree 26 of 300
building tree 27 of 300
building tree 28 of 300
building tree 29 of 300
building tree 30 of 300
building tree 31 of 300
building tree 32 of 300
building tree 33 of 300

[Parallel(n_jobs=-1)]: Done  25 tasks      | elapsed:    0.7s

building tree 34 of 300
building tree 35 of 300
building tree 36 of 300
building tree 37 of 300
building tree 38 of 300building tree 39 of 300

building tree 40 of 300
building tree 41 of 300
building tree 42 of 300
building tree 43 of 300
building tree 44 of 300building tree 45 of 300

building tree 46 of 300
building tree 47 of 300
building tree 48 of 300
building tree 49 of 300
building tree 50 of 300
building tree 51 of 300building tree 52 of 300

building tree 53 of 300
building tree 54 of 300
building tree 55 of 300
building tree 56 of 300
building tree 57 of 300
building tree 58 of 300
building tree 59 of 300
building tree 60 of 300
building tree 61 of 300
building tree 62 of 300
building tree 63 of 300
building tree 64 of 300
building tree 65 of 300
building tree 66 of 300
building tree 67 of 300
building tree 68 of 300
building tree 69 of 300
building tree 70 of 300
building tree 71 of 300
building tree 72 of 300
building tree 73 of 300
building tree 74 of 300
building tree 75 of 300
building tree 76 of 300
building tree 77 of 300
building tree 78 of 300
building tree 79 of 300
building tree 80 of 300
building tree 81 of 300
building tree 82 of 300
building tree 83 of 300
building tree 84 of 300
building tree 85 of 300
building tree 86 of 300
building tree 87 of 300
building tree 88 of 300
building tree 89 of 300
building tree 90 of 300
building tree 91 of 300
building tree 92 of 300
building tree 93 of 300
building tree 94 of 300
building tree 95 of 300
building tree 96 of 300
building tree 97 of 300
building tree 98 of 300
building tree 99 of 300
building tree 100 of 300
building tree 101 of 300
building tree 102 of 300
building tree 103 of 300
building tree 104 of 300
building tree 105 of 300
building tree 106 of 300
building tree 107 of 300
building tree 108 of 300
building tree 109 of 300
building tree 110 of 300
building tree 111 of 300
building tree 112 of 300
building tree 113 of 300
building tree 114 of 300
building tree 115 of 300
building tree 116 of 300
building tree 117 of 300
building tree 118 of 300
building tree 119 of 300
building tree 120 of 300
building tree 121 of 300
building tree 122 of 300
building tree 123 of 300
building tree 124 of 300
building tree 125 of 300
building tree 126 of 300
building tree 127 of 300
building tree 128 of 300
building tree 129 of 300
building tree 130 of 300
building tree 131 of 300
building tree 132 of 300
building tree 133 of 300
building tree 134 of 300
building tree 135 of 300
building tree 136 of 300
building tree 137 of 300
building tree 138 of 300
building tree 139 of 300
building tree 140 of 300
building tree 141 of 300building tree 142 of 300

building tree 143 of 300
building tree 144 of 300
building tree 145 of 300
building tree 146 of 300
building tree 147 of 300
building tree 148 of 300
building tree 149 of 300building tree 150 of 300

building tree 151 of 300
building tree 152 of 300
building tree 153 of 300
building tree 154 of 300
building tree 155 of 300
building tree 156 of 300

[Parallel(n_jobs=-1)]: Done 146 tasks      | elapsed:    3.8s

building tree 157 of 300
building tree 158 of 300
building tree 159 of 300
building tree 160 of 300
building tree 161 of 300
building tree 162 of 300
building tree 163 of 300
building tree 164 of 300
building tree 165 of 300
building tree 166 of 300
building tree 167 of 300
building tree 168 of 300
building tree 169 of 300
building tree 170 of 300
building tree 171 of 300
building tree 172 of 300
building tree 173 of 300
building tree 174 of 300
building tree 175 of 300
building tree 176 of 300
building tree 177 of 300
building tree 178 of 300
building tree 179 of 300
building tree 180 of 300
building tree 181 of 300
building tree 182 of 300
building tree 183 of 300
building tree 184 of 300
building tree 185 of 300
building tree 186 of 300
building tree 187 of 300
building tree 188 of 300
building tree 189 of 300
building tree 190 of 300
building tree 191 of 300
building tree 192 of 300
building tree 193 of 300
building tree 194 of 300
building tree 195 of 300
building tree 196 of 300
building tree 197 of 300
building tree 198 of 300
building tree 199 of 300
building tree 200 of 300
building tree 201 of 300
building tree 202 of 300
building tree 203 of 300
building tree 204 of 300
building tree 205 of 300
building tree 206 of 300
building tree 207 of 300
building tree 208 of 300
building tree 209 of 300
building tree 210 of 300
building tree 211 of 300
building tree 212 of 300
building tree 213 of 300
building tree 214 of 300
building tree 215 of 300
building tree 216 of 300
building tree 217 of 300
building tree 218 of 300
building tree 219 of 300
building tree 220 of 300
building tree 221 of 300
building tree 222 of 300
building tree 223 of 300
building tree 224 of 300
building tree 225 of 300
building tree 226 of 300
building tree 227 of 300
building tree 228 of 300
building tree 229 of 300
building tree 230 of 300
building tree 231 of 300
building tree 232 of 300
building tree 233 of 300
building tree 234 of 300
building tree 235 of 300
building tree 236 of 300
building tree 237 of 300
building tree 238 of 300
building tree 239 of 300
building tree 240 of 300
building tree 241 of 300
building tree 242 of 300
building tree 243 of 300building tree 244 of 300

building tree 245 of 300
building tree 246 of 300
building tree 247 of 300
building tree 248 of 300
building tree 249 of 300
building tree 250 of 300
building tree 251 of 300
building tree 252 of 300
building tree 253 of 300
building tree 254 of 300
building tree 255 of 300
building tree 256 of 300building tree 257 of 300

building tree 258 of 300
building tree 259 of 300
building tree 260 of 300
building tree 261 of 300
building tree 262 of 300
building tree 263 of 300
building tree 264 of 300
building tree 265 of 300
building tree 266 of 300
building tree 267 of 300
building tree 268 of 300
building tree 269 of 300
building tree 270 of 300
building tree 271 of 300building tree 272 of 300

building tree 273 of 300
building tree 274 of 300
building tree 275 of 300building tree 276 of 300

building tree 277 of 300
building tree 278 of 300
building tree 279 of 300
building tree 280 of 300
building tree 281 of 300
building tree 282 of 300
building tree 283 of 300
building tree 284 of 300
building tree 285 of 300
building tree 286 of 300
building tree 287 of 300
building tree 288 of 300
building tree 289 of 300
building tree 290 of 300
building tree 291 of 300
building tree 292 of 300
building tree 293 of 300
building tree 294 of 300
building tree 295 of 300
building tree 296 of 300
building tree 297 of 300
building tree 298 of 300
building tree 299 of 300
building tree 300 of 300

[Parallel(n_jobs=-1)]: Done 300 out of 300 | elapsed:    7.8s finished

RandomizedSearchCV(cv=KFold(n_splits=5, random_state=1234, shuffle=True),
                   estimator=RandomForestClassifier(n_jobs=-1,
                                                    random_state=1234,
                                                    verbose=2),
                   n_jobs=-1,
                   param_distributions={'max_depth': [2, 5, 10, 20, 100],
                                        'max_features': ['sqrt', 'log2', None],
                                        'n_estimators': [100, 300, 500]},
                   random_state=1234, scoring='accuracy', verbose=3)

In [40]:
rf_kfold_newman.best_score_

0.6577500558928289

In [41]:
rf_parameter=[]
a_tmp=list(x_train.columns)
b_tmp=list(rf_kfold_newman.best_estimator_.feature_importances_)
for i in range(len(a_tmp)):
    rf_parameter.append([a_tmp[i],b_tmp[i]])
rf_parameter=pd.DataFrame(rf_parameter)
rf_parameter=rf_parameter.sort_values(by=[1],ascending=False)

In [42]:
rf_parameter

                     0         1
19     recommendations  0.326159
1        All_time_peak  0.198086
20        achievements  0.093854
10             is_free  0.057676
8             num_lang  0.050197
7         initialprice  0.039282
6                price  0.036554
12                 dlc  0.028193
2      average_forever  0.018581
4       median_forever  0.017081
22        Genre_class2  0.014845
0         24_Hour_Peak  0.013883
32       Genre_class12  0.012982
29        Genre_class9  0.012731
23        Genre_class3  0.009525
18       platforms_num  0.008889
24        Genre_class4  0.007638
21        Genre_class1  0.007341
28        Genre_class8  0.007196
25        Genre_class5  0.006983
26        Genre_class6  0.006109
27        Genre_class7  0.005021
11  controller_support  0.004161
16                 mac  0.003755
30       Genre_class10  0.002861
31       Genre_class11  0.002320
13          metacritic  0.002205
17               linux  0.001890
9         required_age  0.001177
5        median_2weeks  0.000845
3       average_2weeks  0.000704
33       Genre_class13  0.000473
14       metacritic_tf  0.000428
34       Genre_class14  0.000231
42       Genre_class22  0.000047
40       Genre_class20  0.000032
35       Genre_class15  0.000026
41       Genre_class21  0.000015
37       Genre_class17  0.000008
15             windows  0.000006
36       Genre_class16  0.000004
39       Genre_class19  0.000003
38       Genre_class18  0.000001
43       Genre_class23  0.000000

In [61]:
print("BASE MODEL WITHOUT GENRE")
print(rf_kfold_rgs.best_score_)
print("BASE MODEL WITH GENRE 4 CLASS")
print(rf_kfold_4.best_score_)
print("BASE MODEL WITH GENRE 23 CLASS")
print(rf_kfold_newman.best_score_)

BASE MODEL WITHOUT GENRE
0.6549007453687576
BASE MODEL WITH GENRE 4 CLASS
0.6564125084790341
BASE MODEL WITH GENRE 23 CLASS
0.6577500558928289